
<div class="container">
  <p>Notes!</p>



  <form method='post' action='/edit_note'>
  <button>Edit</button><input type = 'hidden' name='id' value=<%= @note.id %>>
  </form>

  <form method='post' action='/delete_note'>
  <button>Delete</button><input type = 'hidden' name='id' value=<%= @note.id %>>
  </form>

<ul>

  <li><%= @note.id %><p><%= @note.title %>
    <%= @note.content %></p>
  </li>
  </ul>


</div>


